[Desktop Entry]
Name=MetaEditor 5
Exec=env "WINEPREFIX=/home/tehlappy/.wine-mt5" wine "C:\\\\users\\\\Public\\\\Desktop\\\\MetaEditor 5.lnk"
Type=Application
StartupNotify=true
Path=/home/tehlappy/.wine-mt5/drive_c/Program Files/MetaTrader 5
Icon=3F42_metaeditor64.0
StartupWMClass=metaeditor64.exe
